@model IEnumerable<KiMang.STUDENT_FEE>

<div class="">
    <div class="row justify-content-end">
        <button class="btn btn-success  col-1" onclick="location.href='@Url.Action("Create", "Student")'">New</button>
        <input name="Submit" id="Delete" value="Delete" type="submit" style="margin-left:5px" class="btn btn-danger col-1" />
    </div>



    <div style="padding-top:20px">
        @Html.Partial("~/Views/Filter/Filter.cshtml")
    </div>

    <div class="box">
        @*<div class="row" style="margin-left:10px">
            *<h5 class="col-3">STUDENT STATUS</h5>
            <button class="btn btn-success col-2" style="margin:5px">COMPLETE</button>
            <button class="btn btn-danger col-1" style="margin:5px">LEFT</button>
            <button class="btn btn-secondary col-1" style="margin:5px">JOIN</button>
            <button class="btn btn-info col-2" style="margin:5px">READM</button>
        </div>*@
        <div class="row" style="width: 100%; margin-top: 20px; overflow-x:auto;">
            <table class="table table-striped col-8" style="text-align:center">
                <thead style="background-color:darkgray">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.STUDENT_ID)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.GROUPS)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.MONTHS)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FEE)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PAYSLIP)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.YEAR)
                        </th>
                        <th>Action</th>
                    </tr>
                </thead>
                @foreach (var item in Model)
                {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.STUDENT_ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GROUPS)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MONTHS)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FEE)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PAYSLIP)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.YEAR)
                </td>
                <td>

                    @Html.ActionLink("Edit  ", "Edit", new { id = item.STUDENT_ID, year = item.YEAR }, new { @class = "btn btn-success" })|
                    @Html.ActionLink("Delete", "Delete", new { id = item.STUDENT_ID }, new { @class = "offset-1 btn btn-danger" })
                </td>
            </tr>}

            </table>
        </div>
    </div>
</div>